<button  ng-click="refresh()" class="btn btn-success btn-large">Generate</button> 
<h1>{{history.current}}</h1>

<p>
  <a href="mailto:?subject=I wanted to share this jargon with you!&amp;body={{history.sentence}}" class="btn btn-primary">Email this!</a>
</p>

<hr/>
<button class="btn" ng-click="isCollapsed = !isCollapsed">Add words</button>

<div collapse="isCollapsed">
  <div class="row-fluid">
    <div class="span3">
      <h4>Verbs</h4>
      <form class="form-inline" ng-submit="addVerb()">
        <input class="input-medium" type="text" placeholder="verb" ng-model="newverb">
        <input class="btn-primary" type="submit" value="add">
      </form>
      <ul class="unstyled">
        <li ng-repeat="verb in verbs.models">
          <span>{{verb.getWord()}} <button class="destroy" ng-click="removeVerb(verb)"></button></span>
        </li>
      </ul>
    </div>

    <div class="span3">
      <h4>Adjectives</h4>
      <form class="form-inline" ng-submit="addAdjective()">
        <input class="input-medium" type="text" placeholder="adjective" ng-model="newadjective">
        <input class="btn-primary" type="submit" value="add">
      </form>
      <ul class="unstyled">
        <li ng-repeat="adjective in adjectives.models">
          <span>{{adjective.getWord()}} <button class="destroy" ng-click="removeAdjective(adjective)"></button></span>          
        </li>
      </ul>
    </div>

    <div class="span3">
      <h4>Nouns</h4>
      <form class="form-inline" ng-submit="addNoun()">
        <input class="input-medium" type="text" placeholder="noun" ng-model="newnoun">
        <input class="btn-primary" type="submit" value="add">
      </form>
      <ul class="unstyled">
        <li ng-repeat="noun in nouns.models">
          <span>{{noun.getWord()}} <button class="destroy" ng-click="removeNoun(noun)"></button></span>                    
        </li>
      </ul>
    </div>

    <div class="span3">
      <h4>Abbreviations</h4>
      <form class="form-inline" ng-submit="addAbbreviation()">
        <input class="input-medium" type="text" placeholder="abbreviation" ng-model="newabbreviation">
        <input class="btn-primary" type="submit" value="add">
      </form>
      <ul class="unstyled">
        <li ng-repeat="abbreviation in abbreviations.models">
          <span>{{abbreviation.getWord()}} <button class="destroy" ng-click="removeAbbreviation(abbreviation)"></button></span>                    
        </li>
      </ul>
    </div>
  </div>
</div>
