/* app css stylesheet */

li .destroy {
        display: none;
        margin: 0;
        padding: 0;
        border: 0;
        background: none;
        font-size: 100%;
        vertical-align: baseline;
        font-family: inherit;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;


        margin: auto 0;
        color: #a88a8a;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
}

li .destroy:after {
        content: '✖';
}

li:hover .destroy {
        display: inline;
}


button {
