<a ng-click="refresh()" class="btn btn-success btn-large">Generate</a> 
<h1>{{sentence}}</h1>

<div ng-controller="ModalDemoCtrl">
  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3>Synergies!</h3>
    </div>
    <img src="http://us.123rf.com/400wm/400/400/chagin/chagin1104/chagin110400166/9335435-business-people-working-in-team-in-the-office.jpg" />
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </script>

  <button ng-click="open()" type="button" class="btn btn-info btn-medium">
   <i class="icon-book icon-white"></i> Make this into a PowerPoint slide!
 </button>
</div>

<hr/>
<button class="btn" ng-click="isCollapsed = !isCollapsed">Add words</button>
<hr>

<div collapse="isCollapsed">
  <div class="row-fluid">
    <div class="span3">
      <h4>Verbs</h4>
      <form class="form-inline" ng-submit="addVerb()">
        <input class="input-medium" type="text" placeholder="verb" ng-model="newverb">
        <input class="btn-primary" type="submit" value="add">
      </form>
      <ul class="unstyled">
        <li ng-repeat="verb in verbs.models">
          {{verb.getWord()}}
        </li>
      </ul>
    </div>

    <div class="span3">
      <h4>Adjectives</h4>
      <form class="form-inline" ng-submit="addAdjective()">
        <input class="input-medium" type="text" placeholder="adjective" ng-model="newadjective">
        <input class="btn-primary" type="submit" value="add">
      </form>
      <ul class="unstyled">
        <li ng-repeat="adjective in adjectives.models">
          {{adjective.getWord()}}
        </li>
      </ul>
    </div>

    <div class="span3">
      <h4>Nouns</h4>
      <form class="form-inline" ng-submit="addNoun()">
        <input class="input-medium" type="text" placeholder="noun" ng-model="newnoun">
        <input class="btn-primary" type="submit" value="add">
      </form>
      <ul class="unstyled">
        <li ng-repeat="noun in nouns.models">
          {{noun.getWord()}}
        </li>
      </ul>
    </div>

    <div class="span3">
      <h4>Abbreviations</h4>
      <form class="form-inline" ng-submit="addAbbreviation()">
        <input class="input-medium" type="text" placeholder="abbreviation" ng-model="newabbreviation">
        <input class="btn-primary" type="submit" value="add">
      </form>
      <ul class="unstyled">
        <li ng-repeat="abbreviation in abbreviations.models">
          {{abbreviation.getWord()}}
          </li>
      </ul>
    </div>
  </div>
</div>
