<div class="row-fluid">
  <div class="span3">
    <h4>Verbs</h4>
    <form class="form-inline" ng-submit="addVerb()">
      <input class="input-medium" type="text" placeholder="verb" ng-model="newverb">
      <input class="btn-primary" type="submit" value="add">
    </form>
    <ul class="unstyled">
      <li ng-repeat="verb in verbs.models">
        {{verb.getWord()}}
      </li>
    </ul>
  </div>

  <div class="span3">
    <h4>Adjectives</h4>
    <form class="form-inline" ng-submit="addAdjective()">
      <input class="input-medium" type="text" placeholder="adjective" ng-model="newadjective">
      <input class="btn-primary" type="submit" value="add">
    </form>
    <ul class="unstyled">
      <li ng-repeat="adjective in adjectives.models">
        {{adjective.getWord()}}
      </li>
    </ul>
  </div>

  <div class="span3">
    <h4>Nouns</h4>
    <form class="form-inline" ng-submit="addNoun()">
      <input class="input-medium" type="text" placeholder="noun" ng-model="newnoun">
      <input class="btn-primary" type="submit" value="add">
    </form>
    <ul class="unstyled">
      <li ng-repeat="noun in nouns.models">
        {{noun.getWord()}}
      </li>
    </ul>
  </div>
  
  <div class="span3">
    <h4>Abbreviations</h4>
    <form class="form-inline" ng-submit="addAbbreviation()">
      <input class="input-medium" type="text" placeholder="abbreviation" ng-model="newabbreviation">
      <input class="btn-primary" type="submit" value="add">
    </form>
    <ul class="unstyled">
      <li ng-repeat="abbreviation in abbreviations.models">
        {{abbreviation.getWord()}}
      </li>
    </ul>
  </div>
</div>